/correlation_results
/correlation_results_1st
/correlation_results_2nd
/correlation_results_3rd
/correlation_thr07_1st
/correlation_thr07_2nd
/correlation_thr07_3rd
/2025永豐AI GO競賽_Slack Link_V3.pdf
/38_Training_Data_Set_V2.zip
/38_Public_Test_Set_and_Submmision_Template_V2
/38_Public_Test_Set_and_Submmision_Template_V2.zip
/output
/models
/*.csv
/*.txt